@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

body *{
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5{
  font-weight: normal;
  margin: 0;
}

.wrapper{
  max-width: 960px;
  margin: auto;
}

.wrapper li a{
  text-decoration: none;
  color: #708090;
}

div.wrapper h1{
  text-align: center;
  margin: auto;
  margin-bottom: 8px;
  font-size: 2.4em;
}

.logout-link button p{
  color: #708090;
}

/*header{
  display: inline-block;
  padding: 20px 0;
  text-align: center;
}

nav{
  justify-self: end;
  text-align: center;
}

nav ul{
  text-align: center;
}

nav li{
  display: inline-block;
  margin-left: 20px;
}

nav button{
  background: none;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 1em;
}*/

.nav{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav li{
  display: inline-block;
  margin-left: 20px;
}

.nav button{
  background: none;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 1em;
}

nav img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.articles{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.articles a{
  text-decoration: none;
  color: #708090;
}

.articles a:hover{
  color: #e27689;
}

.articles .article:hover{
  border-color: #e27689;
}

.article{
  padding: 10px;
  border: 1px solid #708090;
  position: relative;
  padding-bottom: 40px;
}

.article h2{
  font-size: 1.2em;
}

.article .author{
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}

.article .thumb{
  max-width: 16em;
  max-height: 9em;
}

.article a{
  text-decoration: none;
  color: #708090;
}

.article-detail .article{
  padding: 1em;
}

.article-detail .article img {
  max-width: 16em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.article-detail .article h2{
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
}

.article-detail .article p{
  text-align: center;
}

.article-detail .article a:hover{
  color: #e27689;
}

.site-form{
  margin-top: 60px;
  border: 1px solid #708090;
  padding: 20px;
}

.site-form input, .site-form textarea{
  display: block;
  margin: 20px 0 0 0;
  padding: 10px;
}

.helptext, .helptext ul{
  margin: 0 auto 20px;
  font-size: 0.9em;
  display: block;
}

.errorlist li{
  padding: 10px;
  list-style-type: none;
  border: 1px solid #ff5722;
  color: #ff5722;
  margin: 10px 0;
}

.errorlist{
  padding: 0;
}

.site-form input[type="submit"]{
  background: #708090;
  border: 0;
  color: #fff;
  font-size: 1.2em;
  border-radius: 4px;
  margin: 10px 0;
}

.site-form input[type="submit"]:hover{
  background: #fff;
  color: #708090;
  cursor: pointer;
}

#footer {
  text-align: center;
  background-color: #dce3e2;
  padding: 3em 0 4em 0;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  font-size: 0.8em;
  margin-top: 16px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: bottom;
}

#footer .copyright {
  cursor: default;
  margin: 0;
}

#footer .copyright li {
  display: inline-block;
  line-height: 1em;
  border-left: solid 1px rgba(128, 128, 128, 0.35);
  padding: 0 0 0 0.5em;
  margin: 0 0 0 0.5em;
}

#footer .copyright li:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}

@media screen and (max-width: 736px){
  .articles{
    display: grid;
    grid-template-columns: 1fr;
  }
  #footer .copyright li {
    display: block;
    line-height: 1.25em;
    border: 0;
    padding: 0;
    margin: 1em 0 0 0;
  }

  #footer .copyright li:first-child {
    margin-top: 0;
  }
}

.article-header{
  margin-top: 0;
  margin-bottom: 0;
}
