{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block headcont %}
  <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock %}

{% block content %}
  <h1 class="article-header">Article List</h1>
  <div class="articles">
    {% for article in articles %}
    <a href="{% url 'articles:detail' slug=article.slug %}">
      <div class="article" href="{% url 'articles:detail' slug=article.slug %}" >
        <h2>{{ article.title }}</h2>
        <!--<p>{{ article.snippet }}</p>-->
        <p>{{ article.date }}</p>
        <img class="thumb" src="{{ article.thumb.url }}" />
        <p class="author">By {{ article.author.username }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
{% endblock %}
