{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block headcont %}
  <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock %}

{% block content %}

<div class="article-detail">
  <div class="article">
    <img class="article-thumb" src="{{ article.thumb.url }}" />
    <h2 class="article-title">{{ article.title }}</h2>
    <p class="detail-author">by {{ article.author }}</p>
    <p class="date">{{ article.date }}</p>
    <div class="article-content">
      <p>{{ article.body|safe }}</p>
    </div>
    <h2><a href="{% url 'articles:list' %}">Back</a></h2>
  </div>
</div>

{% endblock %}
