{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="{% static 'media/true_favicon.ico' %}" />
    <link rel="apple-touch-icon" href="{% static 'media/true_favicon.ico' %}" />
    <link rel="stylesheet" href="{%static 'css/blog.css'%}">
    {% block headcont %}
    {% endblock %}
    <title>Griffin Austin</title>
  </head>

  <body>
    <header class="wrapper">
      <nav>
        <a href="/"><img src="{% static 'media/default.png' %}" width="64em" alt="gaustin logo" /></a>
        <ul class="nav">
          <!--<li>
            <a href="/"><img src="{% static 'media/default.png' %}" width="64em" alt="gaustin logo" /></a>
          </li>-->
          {% if user.is_authenticated %}
          <li>
              <form class="logout-link" action="/accounts/logout/" method="post">
                {% csrf_token %}
                <button type="submit" name=""><p>Log Out</p></button>
              </form>
          </li>
          <li>
            <a href="/accounts/profile/">Profile</a>
          </li>
          {% else %}
            <li>
              <a href="/accounts/login/">Log In</a>
            </li>
            <li>
              <a href="/accounts/signup/">Sign Up</a>
            </li>
          {% endif %}
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/articles/">Articles</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="/articles/create/">New Article</a>
          </li>
          {% endif %}
          {% if user.is_superuser %}
          <li>
            <a href="/admin/" target="_blank" >Admin Panel</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      <!-- Copyright -->
        <ul class="copyright">
          <li>&copy; Griffin Austin. All rights reserved.</li>
        </ul>
    </div>
  </body>
</html>
